*.exe
*.py[cod]
*.so
*.egg
*.interp
*.tokens
*.iml
.lark_cache
main.build/
main.dist/
main.onefile-build/
build/
dist/
bin/
.idea/*
.vscode/
__pycache__/
venv/
.venv/
ENV/
.env/
.git/
gen/
.cache/
data/
logs/
.store/